@font-face {
    font-family: "#9Slide03 Arima Madurai";
    src: url("../fonts/9Slide03ArimaMaduraiExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Celestia";
    src: url("../fonts/Celestia.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "#9Slide03 Aturdida";
    src: url("../fonts/9Slide03Aturdida-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "#9Slide07 Brankovic";
    src: url("../fonts/9Slide07Brankovic-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "#9Slide04 AdrianeSwash";
    src: url("../fonts/9Slide04AdrianeSwash-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "#9Slide04 NarzissDrops";
    src: url("../fonts/9Slide04NarzissDrops-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
