$menu-color: #444;
$body-color: #222;
$footer-color: #22333b;
$main-color: #06d6a0;
$extra-color: #118ab2;
$text-primary: #fff;
$text-secondary: #888;
$textx-dark: #333;

$btn-text-1: #eee;
$btn-text-2: #111;
$btn-bg-red: #ef233c;
$btn-bg: hsl(236, 32%, 26%);

$facebook: #3b5999;
$instagram: #e1306c;
$youtube: #de463b;
$twitter: #46c1f6;
$github: #333;

$bg-gradient: linear-gradient($main-color, $extra-color);
